ENVIRONMENT=development
INSTANCE_TEMPLATE=projects/resonant-rock-376300/global/instanceTemplates/webrtc-router
PROJECT=resonant-rock-376300
ZONE=europe-west2-c
WEBSOCKET_PORT=8765
WEBSOCKET_IP=
GOOGLE_APPLICATION_CREDENTIALS=/app/service_account.json